</br>
<div class="d-flex justify-content-center align-items-center flex-column">
    <img src="~/Images/typee_gif.gif" alt="My Giff" width="400px;" />
    <h1>Welcome to the Speed Type Test!</h1>
    <p>Press the button below to calculate your words per minute and accuracy.</p>
    <a asp-controller="TypeSpeedTest" asp-action="Test" class="btn btn-primary">Start Test</a>
</div>
